.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
# .gitignore
shiny_bookmarks/
log/
mongodb/
testing/
node_modules/
cypress/videos/
cypress/screenshots/
shinyproxy-2.5.0.jar
test-logs-*/
recording.log*
shiny_bookmarks/
*.db
